body {
  background-color: #A8DBA8;
  color: black;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100px;
}

.popup {
  display: none;
  background-color: #F4EB9E;
  box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.52);
  padding: 32px;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  transition: all 0.5s ease;
  max-width: 450px;
}


.body-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: all 0.5s ease;
}



.main-article {
  background-color: #F4EB9E;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 32px;
  box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.52);
}

.main-article__heading {
  margin: 0;
  padding: 0;
}

.close-button {
  display: block;
  background-color: #D0DFBB;
  height: 32px;
  width: 32px;
  border-radius: 100%;

}

.main-button {
  display: block;
  background-color: #D0DFBB;
  border: 0;
  padding: 8px 32px;
  border-radius: 7px;
}
